hr {
  margin-top: 0;
  margin-bottom: 0;
}
.table {
  margin-bottom: 0;
}
.table td {
  padding: 0 .75rem;
}
.mytable tr td {
  padding-top: 0;
  padding-bottom: 0;
}
.w15 {
  width: 15%;
}
.w40 {
  width: 40%;
}
.close {
  color: red;
}
