{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="app" class="text-center">
  <div class="row">
    <div class="col-10">
      <form action="." method="POST">
        <input id="customer" class="form-control" type="text" v-model="form.customer" placeholder="Cliente" />
      </form>

      <div class="mt-4">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="mytable">
            <tr>
              <td class="w40">
                <select id="productName" class="form-control" v-model="currentProduct.pk" @change="onProductChange">
                  <option selected value="">---</option>
                  <option v-for="product in products" :key="product.value" :value="product.value">${ product.text }</option>
                </select>
              </td>
              <td>
                <input id="productQuantity" class="form-control text-center" type="number" min="0" v-model="currentProduct.quantity" />
              </td>
              <td>
                <div class="input-group mm-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">R$</span>
                  </div>
                  <input id="productPrice" class="form-control" type="number" min="0" step="0.01" v-model="currentProduct.price">
                </div>
              </td>
              <td class="w15">
                <div class="d-flex input-group mm-2">
                  <div>R$</div>
                  <div class="ml-auto">${ (currentProduct.price * currentProduct.quantity) | formatPrice }</div>
                </div>
              </td>
              <td>
                <button id="btnSubmit" class="btn btn-success" @click="addProduct">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table id="myTable" class="table table-hover table-borderless">
          <tbody>
            <tr v-for="(cart, i) in cartItems" :key="i">
              <td class="w40">
                <select :id="'name'+i" class="form-control" v-model="cart.pk" @change="onProductChange2($event)">
                  <option selected value="">---</option>
                  <option v-for="product in products" :key="product.value" :value="product.value">${ product.text }</option>
                </select>
              </td>
              <td>
                <input :id="'quantity'+i" class="form-control text-center" type="number" min="0" v-model="cart.quantity" />
              </td>
              <td>
                <div class="input-group mm-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">R$</span>
                  </div>
                  <input :id="'price'+i" class="form-control" type="number" min="0" step="0.01" v-model="cart.price" />
                </div>
              </td>
              <td class="w15">
                <div class="d-flex input-group mm-2">
                  <div>R$</div>
                  <div class="ml-auto">${ (cart.price * cart.quantity) | formatPrice }</div>
                </div>
              </td>
              <td>
                <button class="btn btn-link">
                  <i class="fa fa-close close" @click="deleteProduct(cart)"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot class="lead">
            <tr>
              <th colspan="3" class="text-right">Total</th>
              <th class="text-left">R$ <span class="pull-right">${ cartValue | formatPrice }</span></th>
              <th></th>
            </tr>
            <tr>
              <th class="text-left">
                <button id="btnAddLine" class="btn btn-success" @click="addLine">
                  <i class="fa fa-plus"></i> Adicionar
                </button>
              </th>
              <th colspan="2" class="text-right">
                <button id="btnSave" class="btn btn-primary" @click="submitForm">
                  <i class="fa fa-floppy-o"></i> Salvar
                </button>
              </th>
              <th class="text-right">
                <button id="btnCancel" class="btn btn-danger" @click="resetForm">
                  <i class="fa fa-close"></i> Cancelar
                </button>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
  <script src="{% static 'js/app.js' %}"></script>
{% endblock js %}