{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="jumbotron text-center">
    <p>Este é um projeto feito com <a href="https://www.djangoproject.com/" target="_blank">Django</a> e <a href="https://vuejs.org/" target="_blank">VueJS</a>.</p>
    <p>
      <a href="https://github.com/rg3915/carrinho-de-compras-django-vuejs" target="_blank">Veja no GitHub</a>
    </p>
    <a class="btn btn-primary" href="{% url 'shopping:shopping' %}">Fazer uma compra</a>
  </div>
{% endblock content %}